@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-md-3 bg-light habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray;">
            <i class="bi bi-hdd-stack-fill"></i>
            <h3>Back-end</h3>
            <p>
                Desarrollo de software
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET Core, SQL Server
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>Linq</li>
                <li>Pricipios SOLID</li>
            </ul>
        </div>
        <div class="col col-md-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px gray">
            <i class="bi bi-code-slash"></i>
            <h3>Front-end</h3>
            <p>
                Puedo crear frontEnde robustos los cuales cumplen con los requerimientos del negocio.
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                React, Angular, Blazor
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>React Hook</li>
                <li>Angular Material</li>
                <li>Blazor WASM</li>
                <li>JQuery</li>
                <li>Markdown</li>
                <li>Leaflet</li>
                <li>Pruebas Automaticas</li>
            </ul>
        </div>
    </div>
</div>