@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <!-- el model sirve para acceder al valor del modelo-->
    <h1 class="display-4">Soy Ignacio Lopez Torres (30)</h1>
    <h2>Soy un desarrollador especializandose en tecnologias .NET y JavaScript </h2>

    <img id="foto"
         src="~/imagenes/DSC_0027_1.jpg" />
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/logo-dotnet.jpg" alt="dotnet-logo" />
</div>

<div class="row justify-content-center text-center bg-dark">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te Doy la bienvenida a mi portafolio</h1>
        <p>
            Soy Lic. en sistemas computacionales incursionando sobre desarrollador de software
            aprendiendo sobre la plataforma de .Net Core, entity Framework, SQL Server. Ademas de tener conocimiento sobre java y javascript,
            Tengo conocimientos sobre Sistemas de Control de Versiones (Uso de Git), Conocimeientos basicos sobre base de datos en MySql
        </p>
    </div>
</div>
