@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy @ViewBag.Name (@ViewBag.Edad)</h1>
    <h2>Soy un desarrollador semi jr  especializandose en tecnologias .NET y JavaScript </h2>

    <img
        id="foto"
         src="~/imagenes/DSC_0027_1.jpg" />
</div>
